/***************** CSS Reset **********************/
/***************** CSS Reset **********************/
/***************** CSS Reset **********************/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}
html {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
	vertical-align: middle;
}
q, blockquote {
	quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
	content: "";
	content: none;
}
a img {
	border: none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
	display: block;
}
html {
}
*,*:before,*:after{
	box-sizing: border-box;
}
img{
	max-width: 100%;
	height: auto ;
}
/***************** CSS Reset **********************/
/***************** CSS Reset **********************/
/***************** CSS Reset **********************/




*{
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.wrap{
  max-width: 1000px;
  margin: 0 auto;
  background: white;
  font-family: Microsoft JhengHei;
}



/************** comment-box *******************/
/************** comment-box *****************/
/************** comment-box *****************/

.comment-box{
  background: linear-gradient(#00644b, #009771);
  text-align: center;
  padding: 20px 0;
  margin: 30px 0 20px 0;
  border: 1px solid red;
}

.comment-container{
  display: block;
  padding: 0 20px 0 20px;
  border: 1px solid red;
}

.comment-container input[type="text"],
.comment-container input[type="tel"],
.comment-container input[type="email"],
.comment-container textarea {

/* Referrence PURECSS style */
	//padding: 0.5em 0.6em;
	vertical-align: middle;
	box-shadow: inset 0 1px 3px #ddd;
	border: 1px solid #ccc;
	border-radius: 4px;
/* Referrence PURECSS style */

}

.comment-container input[type="text"]:focus,
.comment-container input[type="tel"]:focus,
.comment-container input[type="email"]:focus,
.comment-container textarea {
    outline: 0;
    border-color: #129FEA;
}




.comment-container h2{
  text-align: center;
  font-size: 28px;
  color: white;
  padding-bottom: 10px;
  border: 1px solid;
}

.comment-container textarea{
	height: 240px;
	width: 446px;
  float: left;
  font-size: 18px;
  border-radius: 4px;
  margin: 20px 0 0 0px;
  overflow: auto;
  border: 1px solid red;
}

.comment-container .text-input{
  font-size: 18px;
  float: right;
  padding: 10px 10px 0 0;
	border: 1px solid red;
}

.comment-container label{
  display: block;
  text-align: left;
  color: white;
	margin-left: 0px;
}

.comment-container input{
  display: block;
	width: 440px;
  font-size: 18px;
  padding: 5px 0px;
  margin: 5px 0px 10px 0px;
  border-radius: 4px;
}


.comment-container #mobtel{
	//width: 445px;
}

.comment-container .button{
	display: block;
	width: 80px;
	height: 44px;
	color: white;
	background-color: #00cc99;
  border: none;
	border-radius: 4px;
	margin-left: 365px;
}

.comment-container .button:hover{
	background-color: white;
	color: rgb(0, 120, 231);
}

.comment-container .button:active{
  background-color: #E6E6E6;
	color: rgb(0, 120, 231);

}


@media screen and (max-width: 968px){
  .comment-container{
    display: inline-block;       /* 設定 改成 單欄  */
		padding: 0;
	}
	.comment-container textarea{
		float: none;
	}
	.comment-container .text-input{
		float: none;
		padding-right: 0;
	}
	.comment-container label{
		float: none;
	}
	.comment-container input{
		width: 450px;
	}
	.comment-container #mobtel{
		width: 450px;
	}
	.comment-container .button{
		margin-left: 369px;
  }
	@media screen and (max-width: 468px){
		.comment-container textarea{
			max-width: 300px;
		}
		.comment-container input{
			max-width: 300px;
		}
		.comment-container .button{
			margin-left: 219px;
	  }
	}
}


.clearfix{
  clear: both;
}
